<link rel="stylesheet" href="/stylesheets/admin.css">

<!-- Sidebar -->
<div
    class="d-flex flex-column flex-shrink-0 bg-light sidebar"
    style="width: 4.5rem;"
>
    <a
        href="/"
        class="d-block p-3 link-dark text-decoration-none text-center"
        title="Leafy"
        data-bs-toggle="tooltip"
        data-bs-placement="right"
    >
        <i class="fa-solid fa-leaf"></i>
        <span class="visually-hidden">Leafy</span>
    </a>
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
        <li>
            <a
                href="/staff"
                class="nav-link py-3 border-bottom rounded-0 active"
                title="Trang chủ"
                data-bs-toggle="tooltip"
                data-bs-placement="right"
            >
                <i class="bi bi-house-door"></i>
            </a>
        </li>
        <li>
            <a
                href="/staff/product"
                class="nav-link py-3 border-bottom rounded-0"
                title="Sản phẩm"
                data-bs-toggle="tooltip"
                data-bs-placement="right"
            >
                <i class="bi bi-cart"></i>
            </a>
        </li>
        <li>
            <a
                href="/staff/customer"
                class="nav-link py-3 border-bottom rounded-0"
                title="Khách hàng"
                data-bs-toggle="tooltip"
                data-bs-placement="right"
            >
                <i class="bi bi-people"></i>
            </a>
        </li>
    </ul>
    <div class="text-center">
        <a
            href="/staff/profile"
            class="nav-link py-3 border-bottom rounded-0"
            title="Hồ sơ"
            data-bs-toggle="tooltip"
            data-bs-placement="right"
        >
            <i class="bi bi-person-circle"></i>
        </a>
        <form action="/auth/logout" method="post">
            <a
                href="#"
                class="nav-link py-3 border-bottom rounded-0"
                title="Đăng xuất"
                data-bs-toggle="tooltip"
                data-bs-placement="right"
                onclick="this.parentNode.submit()"
            >
                <i class="bi bi-box-arrow-right"></i>
            </a>
        </form>
    </div>
</div>

<!-- Main -->
<main class="px-md-4">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
    >
        <h1 class="h2">Trang chủ</h1>
    </div>
    <h3 class="mb-3">Xin chào, {{fullName}} !</h3>
    <div class="col-4">
        <div class="mb-3">
            <a href="/staff/cart" class="btn btn-outline-primary d-flex flex-column p-3 align-items-center w-100">
                <i class="fw-bold text-larger bi bi-cart-plus"></i>
                <div>Tạo đơn hàng mới</div>
            </a>
        </div>
        <div class="mb-3"class="mb-3">
            <a href="/staff/product" class="btn btn-outline-success d-flex flex-column p-3 align-items-center w-100" >
                <i class="fw-bold text-larger bi bi-cart"></i>
                <div>Danh sách sản phẩm</div>
            </a>
        </div class="mb-3">
        <div class="mb-3">
            <a href="/staff/customer" class="btn btn-outline-warning d-flex flex-column p-3 align-items-center w-100" >
                <i class="fw-bold text-larger bi bi-people"></i>
                <div>Danh sách khách hàng</div>
            </a>
        </div>
        <div class="mb-3">
            <a href="/staff/profile" class="btn btn-outline-dark d-flex flex-column p-3 align-items-center w-100" >
                <i class="fw-bold text-larger bi bi-person-circle"></i>
                <div>Hồ sơ</div>
            </a>
        </div>
    </div>


</main>
<script src="/javascripts/admin.js"></script>