<link rel="stylesheet" href="/stylesheets/admin.css" />
<!-- Sidebar -->
<div
    class="d-flex flex-column flex-shrink-0 bg-light sidebar"
    style="width: 4.5rem;"
>
    <a
        href="/"
        class="d-block p-3 link-dark text-decoration-none text-center"
        title="Leafy"
        data-bs-toggle="tooltip"
        data-bs-placement="right"
    >
        <i class="fa-solid fa-leaf"></i>
        <span class="visually-hidden">Leafy</span>
    </a>
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
        <li>
            <a
                href="/staff"
                class="nav-link py-3 border-bottom rounded-0 "
                title="Trang chủ"
                data-bs-toggle="tooltip"
                data-bs-placement="right"
            >
                <i class="bi bi-house-door"></i>
            </a>
        </li>
        <li>
            <a
                href="/staff/product"
                class="nav-link py-3 border-bottom rounded-0"
                title="Sản phẩm"
                data-bs-toggle="tooltip"
                data-bs-placement="right"
            >
                <i class="bi bi-cart"></i>
            </a>
        </li>
        <li>
            <a
                href="/staff/customer"
                class="nav-link py-3 border-bottom rounded-0"
                title="Khách hàng"
                data-bs-toggle="tooltip"
                data-bs-placement="right"
            >
                <i class="bi bi-people"></i>
            </a>
        </li>
    </ul>
    <div class="text-center">
        <a
            href="/staff/profile"
            class="nav-link py-3 border-bottom rounded-0 active"
            title="Hồ sơ"
            data-bs-toggle="tooltip"
            data-bs-placement="right"
        >
            <i class="bi bi-person-circle"></i>
        </a>
        <form action="/auth/logout" method="post">
            <a
                href="#"
                class="nav-link py-3 border-bottom rounded-0"
                title="Đăng xuất"
                data-bs-toggle="tooltip"
                data-bs-placement="right"
                onclick="this.parentNode.submit()"
            >
                <i class="bi bi-box-arrow-right"></i>
            </a>
        </form>
    </div>
</div>


<!-- Main -->
<main class="px-md-4">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
    >
        <h1 class="h2">Hồ sơ</h1>
    </div>
    <form method="post" class="col-lg-4 col-md-6">
        <div class="text-danger">Bạn phải tạo mật khẩu trước khi sử dụng các
            chức năng khác</div>
        <h3 class="mb-3">Tạo mật khẩu mới</h3>
        {{#if messages.error}}
            <div class="text-danger">{{messages.error.[0]}}</div>
        {{/if}}
        <div class="form-floating mb-3">
            <input
                type="password"
                class="form-control"
                name="newPassword"
                id="input-new-password"
                required
                placeholder=""
            />
            <label for="input-new-password">Mật khẩu mới</label>
        </div>
        <div class="form-floating mb-3">
            <input
                type="password"
                class="form-control"
                name="confirmPassword"
                id="input-confirm-password"
                required
                placeholder=""
            />
            <label for="input-confirm-password">Xác nhận mật khẩu mới</label>
        </div>
        <button class="btn btn-dark w-100 p-3" type="submit">Tạo mật khẩu</button>
    </form>
</main>

<script src="/javascripts/admin.js"></script>