.img-container {
    width: 100px !important;
    height: 100px !important;
    overflow: hidden;
    position: relative;
    display: inline-block;
}

.order-item {
    border: solid 1px lightgray;
    border-radius: 10px;
    padding: 16px;
    margin-bottom: 16px;
    position: relative;
}

.cart-item {
    border-bottom: 0px;
    padding: 0;
}

.tab-item {
    padding: 10px 0;
    border-bottom: solid 1px lightgray;
}

.tab-item:hover {
    background-color: rgb(242, 242, 242);
    cursor: pointer;
}

.tab-item.selected {
    font-weight: bold;
    border-bottom: solid 3px black;
}